# Función input

Cuando requiero leer valores, utilizo la función input

In [1]:
input('dime cual es tu nombre?')

dime cual es tu nombre? alfredo

'alfredo'

In [2]:
nombre = input('que te llamas?')

que te llamas? juan

In [3]:
print(nombre)

juan

In [7]:
salario = int(input('cuanto ganas?'))

cuanto ganas? 3674

In [8]:
salario

3674

In [6]:
int('1654')

1654

In [36]:
x = int(input('valor de x?'))
y = int(input('valor de y?'))

valor de x? 33
valor de y? 223

In [13]:
x + y

7

In [14]:
numero = int(input('coloca un numero'))

coloca un numero hola36

ValueError: invalid literal for int() with base 10: 'hola36'

## Evaluando Deciciones

In [37]:
56 > 23

True

In [18]:
64 < 12

False

In [20]:
55 == 55

True

In [22]:
67 != 76

True

In [24]:
45 <= 45

True

In [25]:
x = 77373

In [26]:
type(x)

int

In [27]:
y = 33.334444

In [28]:
type(y)

float

In [30]:
type('juan perez')

str

In [31]:
type(True)

bool

## Medidas de Dispersion

In [32]:
temperaturas = (23.4, 28.0, 15.7, 40.2)

In [33]:
type(temperaturas)

tuple

In [34]:
# valor minimo de la tupla
min(temperaturas)

15.7

In [35]:
max(temperaturas)

40.2