# Tuplas en Python

In [9]:
# Definimos una Tupla
dias_laborales = ('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'viernes')

In [10]:
dias_laborales

('lunes', 'martes', 'miercoles', 'jueves', 'viernes', 'viernes')

In [2]:
dias_laborales

('lunes', 'martes', 'miercoles', 'jueves', 'viernes')

In [3]:
type(dias_laborales)

tuple

In [6]:
max_puntajes = (1500, 1498, 1600, 1523)

In [7]:
# long de una tupla
len(dias_laborales)

5

In [8]:
dias_laborales[0]

'lunes'

In [11]:
dias_laborales[0] = 'LUNES'

TypeError: 'tuple' object does not support item assignment

In [12]:
max_puntajes[0] = 3232

TypeError: 'tuple' object does not support item assignment

In [20]:
# Tuplas Complejas
dias_trabajados = ('lunes', 'martes', [25, 45, 98], (3, 2, 1), '32', True)

In [14]:
dias_trabajados[2]

[25, 45, 98]

In [15]:
dias_trabajados[2][1]

45

In [17]:
dias_trabajados[1][0]

'm'

In [21]:
dias_trabajados[3][2]

1

In [22]:
# Iterar una Tupla
for dia in dias_laborales:
    print(dia)

lunes
martes
miercoles
jueves
viernes
viernes

## Desempaquetando Secuencias

In [24]:
notas_alumno = ('Maria', 'Perez', [75, 68, 91])

In [25]:
nombre, apellido, notas = notas_alumno

In [26]:
nombre

'Maria'

In [27]:
apellido

'Perez'

In [28]:
notas

[75, 68, 91]

## Desempaquetando Listas

In [29]:
lista_notas = [45, 51, 39]

In [30]:
n1, n2, n3 = lista_notas

In [31]:
n1

45

In [32]:
n3

39

In [33]:
print(n1, n2, n3)

45 51 39