# Laboratorio Pandas - Dataset Salarios

In [52]:
# leer el archivo CSV

In [2]:
import pandas as pd

In [3]:
salarios = pd.read_csv('recursos/Salaries.csv')

In [5]:
type(salarios)

pandas.core.frame.DataFrame

In [9]:
salarios.head() # para leer los 5 primeras filas

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [53]:
salarios.tail() # para leer los 5 últimas filas

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,PagaImp
148649,148650,Roy I Tillery,CUSTODIAN,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN,NO
148650,148651,Not provided,NOT PROVIDED,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,NO
148651,148652,Not provided,NOT PROVIDED,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,NO
148652,148653,Not provided,NOT PROVIDED,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,NO
148653,148654,Joe Lopez,"COUNSELOR, LOG CABIN RANCH",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN,NO

In [11]:
salarios.info() # informacion del dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [12]:
salarios['BasePay'].min()

-166.01

In [13]:
salarios['BasePay'].max()

319275.01

In [14]:
salarios['BasePay'].mean()

66325.44884050643

In [15]:
# consulta:
salarios[salarios['EmployeeName'] == 'GARY JIMENEZ']['JobTitle']

1    CAPTAIN III (POLICE DEPARTMENT)
Name: JobTitle, dtype: object

In [16]:
# de quien es el salario mas alto?
salarios[salarios['TotalPayBenefits'] == salarios['TotalPayBenefits']].max()

Id                         148654
EmployeeName           Zuri Jones
JobTitle              ZOO CURATOR
BasePay                    319275
OvertimePay                245132
OtherPay                   400184
Benefits                  96570.7
TotalPay                   567595
TotalPayBenefits           567595
Year                         2014
Notes                        None
Agency              San Francisco
Status                       None
dtype: object

In [17]:
salarios.max()

Id                         148654
EmployeeName           Zuri Jones
JobTitle              ZOO CURATOR
BasePay                    319275
OvertimePay                245132
OtherPay                   400184
Benefits                  96570.7
TotalPay                   567595
TotalPayBenefits           567595
Year                         2014
Notes                        None
Agency              San Francisco
Status                       None
dtype: object

In [18]:
# cual es el promedio del sueldo base de todos los empleados año?

In [20]:
salarios.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [23]:
salarios.groupby(['Year', 'JobTitle']).mean()[['BasePay', 'TotalPay']]

                                          BasePay       TotalPay
Year JobTitle
2011 ACCOUNT CLERK                   43300.806506   44035.664337
     ACCOUNTANT                      46643.172000   47429.268000
     ACCOUNTANT INTERN               28732.663958   29031.742917
     ACUPUNCTURIST                   66374.400000   67594.400000
     ADMINISTRATIVE ANALYST          63435.628602   63954.867527
...                                           ...            ...
2014 Wire Rope Cable Maint Sprv      93904.720000  190575.900000
     Worker's Comp Supervisor 1      54505.333333   56689.446667
     Worker's Compensation Adjuster  69915.985385   70636.455385
     X-Ray Laboratory Aide           45490.340286   51211.566857
     Youth Comm Advisor              32417.420000   36465.910000

[4137 rows x 2 columns]

In [ ]:
# cuales son los puestos mas comunes?

In [25]:
salarios['JobTitle'].value_counts().head(10)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

## Uniformizar Datos

In [32]:
def job_upper(title):
    return title.upper()

In [33]:
job_upper('asd')

'ASD'

In [36]:
salarios['JobTitle'] = salarios['JobTitle'].apply(lambda titulo: job_upper(titulo))

In [37]:
salarios['JobTitle'].value_counts().head(10)

TRANSIT OPERATOR                9424
SPECIAL NURSE                   5791
REGISTERED NURSE                4955
CUSTODIAN                       3214
FIREFIGHTER                     3153
RECREATION LEADER               2663
DEPUTY SHERIFF                  2618
PUBLIC SVC AIDE-PUBLIC WORKS    2518
POLICE OFFICER 3                2421
PATIENT CARE ASSISTANT          1945
Name: JobTitle, dtype: int64

In [38]:
## Otro ej de la funcion apply()

In [39]:
def paga_impuestos(pay):
    if pay > 80000:
        return 'SI'
    else:
        return 'NO'

In [40]:
paga_impuestos(50200)

'NO'

In [43]:
salarios['PagaImp'] = salarios['TotalPay'].apply(lambda sueldo: paga_impuestos(sueldo))

In [44]:
salarios

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,PagaImp
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,SI
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,SI
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,SI
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,SI
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,SI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,CUSTODIAN,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN,NO
148650,148651,Not provided,NOT PROVIDED,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,NO
148651,148652,Not provided,NOT PROVIDED,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,NO
148652,148653,Not provided,NOT PROVIDED,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN,NO
148653,148654,Joe Lopez,"COUNSELOR, LOG CABIN RANCH",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN,NO

In [45]:
salarios['PagaImp'].value_counts()

NO    86053
SI    62601
Name: PagaImp, dtype: int64

In [46]:
salarios.shape

(148654, 14)

In [54]:
# Exportar un DataFrame como archivo

In [48]:
salarios.to_csv('salida_procesada_salarios.csv')

In [50]:
salarios.to_excel('salida_procesada_salarios.xlsx')