# Laboratorio Pandas - Dataset COVID 19

In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('recursos/covid19.csv')

In [3]:
covid.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [4]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14092 entries, 0 to 14091
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   iso_code                  13907 non-null  object
 1   location                  14092 non-null  object
 2   date                      14092 non-null  object
 3   total_cases               14092 non-null  int64
 4   new_cases                 14092 non-null  int64
 5   total_deaths              14092 non-null  int64
 6   new_deaths                14092 non-null  int64
 7   total_cases_per_million   13804 non-null  float64
 8   new_cases_per_million     13804 non-null  float64
 9   total_deaths_per_million  13804 non-null  float64
 10  new_deaths_per_million    13804 non-null  float64
 11  total_tests               3462 non-null   float64
 12  new_tests                 3082 non-null   float64
 13  total_tests_per_thousand  3462 non-null   float64
 14  new_tests_per_thousand    3086 non-null   float64
 15  tests_units               3462 non-null   object
dtypes: float64(8), int64(4), object(4)
memory usage: 1.7+ MB

In [6]:
covid['date'] = pd.to_datetime(covid['date'])

In [7]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14092 entries, 0 to 14091
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   iso_code                  13907 non-null  object
 1   location                  14092 non-null  object
 2   date                      14092 non-null  datetime64[ns]
 3   total_cases               14092 non-null  int64
 4   new_cases                 14092 non-null  int64
 5   total_deaths              14092 non-null  int64
 6   new_deaths                14092 non-null  int64
 7   total_cases_per_million   13804 non-null  float64
 8   new_cases_per_million     13804 non-null  float64
 9   total_deaths_per_million  13804 non-null  float64
 10  new_deaths_per_million    13804 non-null  float64
 11  total_tests               3462 non-null   float64
 12  new_tests                 3082 non-null   float64
 13  total_tests_per_thousand  3462 non-null   float64
 14  new_tests_per_thousand    3086 non-null   float64
 15  tests_units               3462 non-null   object
dtypes: datetime64[ns](1), float64(8), int64(4), object(3)
memory usage: 1.7+ MB

In [8]:
covid.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [9]:
covid[covid['date'] == '2020-04-29']

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
37,ABW,Aruba,2020-04-29,100,0,2,0,936.628,0.000,18.733,0.000,NaN,NaN,NaN,NaN,NaN
148,AFG,Afghanistan,2020-04-29,1827,124,60,3,46.932,3.185,1.541,0.077,NaN,NaN,NaN,NaN,NaN
187,AGO,Angola,2020-04-29,27,0,2,0,0.822,0.000,0.061,0.000,NaN,NaN,NaN,NaN,NaN
221,AIA,Anguilla,2020-04-29,3,0,0,0,199.973,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
273,ALB,Albania,2020-04-29,750,14,30,2,260.616,4.865,10.425,0.695,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13759,YEM,Yemen,2020-04-29,1,0,0,0,0.034,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
13823,ZAF,South Africa,2020-04-29,4996,203,93,3,84.237,3.423,1.568,0.051,NaN,NaN,NaN,NaN,NaN
13865,ZMB,Zambia,2020-04-29,95,6,3,0,5.168,0.326,0.163,0.000,NaN,NaN,NaN,NaN,NaN
13906,ZWE,Zimbabwe,2020-04-29,32,0,4,0,2.153,0.000,0.269,0.000,NaN,NaN,NaN,NaN,NaN
14027,NaN,World,2020-04-29,3052370,70943,216563,5738,391.591,9.101,27.783,0.736,NaN,NaN,NaN,NaN,NaN

In [10]:
covid.groupby(['iso_code', 'date']).sum()

                     total_cases  new_cases  total_deaths  new_deaths  \
iso_code date
ABW      2020-03-13            2          2             0           0
         2020-03-20            4          2             0           0
         2020-03-24           12          8             0           0
         2020-03-25           17          5             0           0
         2020-03-26           19          2             0           0
...                          ...        ...           ...         ...
ZWE      2020-04-25           29          0             4           1
         2020-04-26           31          2             4           0
         2020-04-27           31          0             4           0
         2020-04-28           32          1             4           0
         2020-04-29           32          0             4           0

                     total_cases_per_million  new_cases_per_million  \
iso_code date
ABW      2020-03-13                   18.733                 18.733
         2020-03-20                   37.465                 18.733
         2020-03-24                  112.395                 74.930
         2020-03-25                  159.227                 46.831
         2020-03-26                  177.959                 18.733
...                                      ...                    ...
ZWE      2020-04-25                    1.951                  0.000
         2020-04-26                    2.086                  0.135
         2020-04-27                    2.086                  0.000
         2020-04-28                    2.153                  0.067
         2020-04-29                    2.153                  0.000

                     total_deaths_per_million  new_deaths_per_million  \
iso_code date
ABW      2020-03-13                     0.000                   0.000
         2020-03-20                     0.000                   0.000
         2020-03-24                     0.000                   0.000
         2020-03-25                     0.000                   0.000
         2020-03-26                     0.000                   0.000
...                                       ...                     ...
ZWE      2020-04-25                     0.269                   0.067
         2020-04-26                     0.269                   0.000
         2020-04-27                     0.269                   0.000
         2020-04-28                     0.269                   0.000
         2020-04-29                     0.269                   0.000

                     total_tests  new_tests  total_tests_per_thousand  \
iso_code date
ABW      2020-03-13          0.0        0.0                     0.000
         2020-03-20          0.0        0.0                     0.000
         2020-03-24          0.0        0.0                     0.000
         2020-03-25          0.0        0.0                     0.000
         2020-03-26          0.0        0.0                     0.000
...                          ...        ...                       ...
ZWE      2020-04-25       6067.0      380.0                     0.408
         2020-04-26       6395.0      328.0                     0.430
         2020-04-27       6834.0      439.0                     0.460
         2020-04-28       7287.0      453.0                     0.490
         2020-04-29          0.0        0.0                     0.000

                     new_tests_per_thousand
iso_code date
ABW      2020-03-13                   0.000
         2020-03-20                   0.000
         2020-03-24                   0.000
         2020-03-25                   0.000
         2020-03-26                   0.000
...                                     ...
ZWE      2020-04-25                   0.026
         2020-04-26                   0.022
         2020-04-27                   0.030
         2020-04-28                   0.030
         2020-04-29                   0.000

[13907 rows x 12 columns]

In [11]:
# Solo Bolivia

In [18]:
bolivia = covid[covid['iso_code'] == 'BOL']

In [19]:
bolivia

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
1779,BOL,Bolivia,2020-03-12,2,2,0,0,0.171,0.171,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1780,BOL,Bolivia,2020-03-13,3,1,0,0,0.257,0.086,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1781,BOL,Bolivia,2020-03-14,10,7,0,0,0.857,0.600,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1782,BOL,Bolivia,2020-03-15,10,0,0,0,0.857,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1783,BOL,Bolivia,2020-03-17,11,1,0,0,0.942,0.086,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1784,BOL,Bolivia,2020-03-18,12,1,0,0,1.028,0.086,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1785,BOL,Bolivia,2020-03-19,12,0,0,0,1.028,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1786,BOL,Bolivia,2020-03-20,15,3,0,0,1.285,0.257,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1787,BOL,Bolivia,2020-03-21,19,4,0,0,1.628,0.343,0.000,0.000,139.0,NaN,0.012,NaN,cases tested
1788,BOL,Bolivia,2020-03-22,20,1,0,0,1.713,0.086,0.000,0.000,178.0,39.0,0.015,0.003,cases tested
1789,BOL,Bolivia,2020-03-23,27,7,0,0,2.313,0.600,0.000,0.000,273.0,95.0,0.023,0.008,cases tested
1790,BOL,Bolivia,2020-03-24,28,1,0,0,2.399,0.086,0.000,0.000,277.0,4.0,0.024,0.000,cases tested
1791,BOL,Bolivia,2020-03-25,32,4,0,0,2.741,0.343,0.000,0.000,334.0,57.0,0.029,0.005,cases tested
1792,BOL,Bolivia,2020-03-26,39,7,0,0,3.341,0.600,0.000,0.000,442.0,108.0,0.038,0.009,cases tested
1793,BOL,Bolivia,2020-03-27,61,22,0,0,5.226,1.885,0.000,0.000,516.0,74.0,0.044,0.006,cases tested
1794,BOL,Bolivia,2020-03-28,74,13,0,0,6.339,1.114,0.000,0.000,559.0,43.0,0.048,0.004,cases tested
1795,BOL,Bolivia,2020-03-29,81,7,0,0,6.939,0.600,0.000,0.000,574.0,15.0,0.049,0.001,cases tested
1796,BOL,Bolivia,2020-03-30,96,15,3,3,8.224,1.285,0.257,0.257,697.0,123.0,0.060,0.011,cases tested
1797,BOL,Bolivia,2020-03-31,107,11,6,3,9.166,0.942,0.514,0.257,779.0,82.0,0.067,0.007,cases tested
1798,BOL,Bolivia,2020-04-01,115,8,7,1,9.852,0.685,0.600,0.086,836.0,57.0,0.072,0.005,cases tested
1799,BOL,Bolivia,2020-04-02,123,8,8,1,10.537,0.685,0.685,0.086,985.0,149.0,0.084,0.013,cases tested
1800,BOL,Bolivia,2020-04-03,132,9,9,1,11.308,0.771,0.771,0.086,1118.0,133.0,0.096,0.011,cases tested
1801,BOL,Bolivia,2020-04-04,139,7,10,1,11.908,0.600,0.857,0.086,1136.0,18.0,0.097,0.002,cases tested
1802,BOL,Bolivia,2020-04-05,157,18,10,0,13.450,1.542,0.857,0.000,1441.0,305.0,0.123,0.026,cases tested
1803,BOL,Bolivia,2020-04-06,183,26,11,1,15.677,2.227,0.942,0.086,1452.0,11.0,0.124,0.001,cases tested
1804,BOL,Bolivia,2020-04-07,194,11,14,3,16.620,0.942,1.199,0.257,1468.0,16.0,0.126,0.001,cases tested
1805,BOL,Bolivia,2020-04-08,210,16,15,1,17.990,1.371,1.285,0.086,1522.0,54.0,0.130,0.005,cases tested
1806,BOL,Bolivia,2020-04-09,264,54,18,3,22.616,4.626,1.542,0.257,1997.0,475.0,0.171,0.041,cases tested
1807,BOL,Bolivia,2020-04-10,268,4,19,1,22.959,0.343,1.628,0.086,2185.0,188.0,0.187,0.016,cases tested
1808,BOL,Bolivia,2020-04-11,276,8,20,1,23.644,0.685,1.713,0.086,2356.0,171.0,0.202,0.015,cases tested
1809,BOL,Bolivia,2020-04-12,300,24,24,4,25.700,2.056,2.056,0.343,2528.0,172.0,0.217,0.015,cases tested
1810,BOL,Bolivia,2020-04-13,330,30,27,3,28.270,2.570,2.313,0.257,2693.0,165.0,0.231,0.014,cases tested
1811,BOL,Bolivia,2020-04-14,354,24,28,1,30.326,2.056,2.399,0.086,2919.0,226.0,0.250,0.019,cases tested
1812,BOL,Bolivia,2020-04-15,397,43,28,0,34.010,3.684,2.399,0.000,3230.0,311.0,0.277,0.027,cases tested
1813,BOL,Bolivia,2020-04-16,441,44,29,1,37.779,3.769,2.484,0.086,3419.0,189.0,0.293,0.016,cases tested
1814,BOL,Bolivia,2020-04-17,465,24,31,2,39.835,2.056,2.656,0.171,3573.0,154.0,0.306,0.013,cases tested
1815,BOL,Bolivia,2020-04-18,493,28,31,0,42.234,2.399,2.656,0.000,3600.0,27.0,0.308,0.002,cases tested
1816,BOL,Bolivia,2020-04-19,520,27,32,1,44.547,2.313,2.741,0.086,4135.0,535.0,0.354,0.046,cases tested
1817,BOL,Bolivia,2020-04-20,564,44,33,1,48.317,3.769,2.827,0.086,4298.0,163.0,0.368,0.014,cases tested
1818,BOL,Bolivia,2020-04-21,598,34,34,1,51.229,2.913,2.913,0.086,4420.0,122.0,0.379,0.010,cases tested
1819,BOL,Bolivia,2020-04-22,609,11,37,3,52.172,0.942,3.170,0.257,4810.0,390.0,0.412,0.033,cases tested
1820,BOL,Bolivia,2020-04-23,672,63,40,3,57.569,5.397,3.427,0.257,4995.0,185.0,0.428,0.016,cases tested
1821,BOL,Bolivia,2020-04-24,703,31,43,3,60.224,2.656,3.684,0.257,5297.0,302.0,0.454,0.026,cases tested
1822,BOL,Bolivia,2020-04-25,807,104,44,1,69.134,8.909,3.769,0.086,5356.0,59.0,0.459,0.005,cases tested
1823,BOL,Bolivia,2020-04-26,866,59,46,2,74.188,5.054,3.941,0.171,5791.0,435.0,0.496,0.037,cases tested
1824,BOL,Bolivia,2020-04-27,950,84,50,4,81.384,7.196,4.283,0.343,5988.0,197.0,0.513,0.017,cases tested
1825,BOL,Bolivia,2020-04-28,1014,64,53,3,86.867,5.483,4.540,0.257,6121.0,133.0,0.524,0.011,cases tested
1826,BOL,Bolivia,2020-04-29,1053,39,55,2,90.208,3.341,4.712,0.171,NaN,NaN,NaN,NaN,NaN

In [15]:
menores10_bol = bolivia[bolivia['total_deaths'] < 10]

In [17]:
menores10_bol.groupby('date').sum()['total_deaths']

date
2020-03-12    0
2020-03-13    0
2020-03-14    0
2020-03-15    0
2020-03-17    0
2020-03-18    0
2020-03-19    0
2020-03-20    0
2020-03-21    0
2020-03-22    0
2020-03-23    0
2020-03-24    0
2020-03-25    0
2020-03-26    0
2020-03-27    0
2020-03-28    0
2020-03-29    0
2020-03-30    3
2020-03-31    6
2020-04-01    7
2020-04-02    8
2020-04-03    9
Name: total_deaths, dtype: int64